body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-footer {
    background-color: lightgray;
}

.center {
    margin-left: 8%;
}

li,
.info {
    font-size: 16px;
}

h4 {
    color: blue;
}

a .info {
    color: black;
}

a:link {
    text-decoration: none;
}

.footer-icon {
    color: blue;
    font-size: 18px;
}